pydantic==2.7.4
pydantic-settings==2.2.1
python-dotenv==1.0.1
pytest==8.2.1
google-api-python-client==2.147.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
tenacity==8.3.0
chromadb==0.5.5
openai==1.47.0
